body {
    margin: 15px 10px;
    background-color: orange;
}
.header {
    background-color:rgb(65, 224, 16) ;
    border: 1px solid black;
    text-align: center;

}
.menu-nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 33%;
    background-color: rgba(13, 118, 216, 0.76);
}

#corpo {
    display: inline-block;
    width: 40%;
}
.geral {
    display: inline-block;
    text-align:justify;
    width: 50%;
    margin-left: 30px;
}
#boxe {
    display: inline-block;
    width: 45%;
}
.soco {
    display: inline-block;
    text-align: justify;
    width: 50%;
}


#visao {
    display: inline-block;
    width: 45%;
}

.visao {
    display: inline-block;
    width: 50%;
    text-align: justify;
}
    

.primeira {
    height: 300px;
}

.grafico {
    display: inline-block;
    width: 40%;
}

.familias {
    display:inline-block;

}

.familias li{
    font-style: italic;
}

.barra-lateral {
    text-align: center;
}

.footer {
    text-align: center;
}