h1, p {
    text-align: center;
}

li:hover {
    background-color: blueviolet;
}

li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 10ms;
}

ol, ul {
    list-style: none;
}